body {
    background-image: url(../images/background.jpg);
    font-family: 'Slackey', cursive;
}

.container1 {
    color: black;
    text-align: center;
    font-size: 40px;
}

.container2 {
    background-color: black;
    color: yellow;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

p {
    font-size: 30px;
}

label {
    font-size: 32px;
}

#play {
    background-color: black;
    color: yellow;
    padding: 10px;
    font-family: 'Slackey', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#done {
    background-color: black;
    color: yellow;
    padding: 10px;
    font-family: 'Slackey', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}

#finish {
    text-align: center;
}

#results {
    text-align: center;
}

#restart {
    background-color: black;
    color: yellow;
    padding: 10px;
    font-family: 'Slackey', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}

#question {
    font-size: 60px;
    margin-bottom: 10px;
}
